# Rust / Cargo
# Ignore the main build directory for the workspace
/target

# The lock file should be committed for reproducible builds, so we don't ignore it.
# Cargo.lock

# SQLite database files
/backend/database.db*

# WASM / Static build artifacts
/frontend_slint/static/wasm-pack/*
!/frontend_slint/static/wasm-pack/.gitkeep
/backend/static/slint-build/wasm/*
!/backend/static/slint-build/wasm/.gitkeep
/backend/static/svelte-build/*
!/backend/static/svelte-build/.gitkeep


# Operating System files
.DS_Store
Thumbs.db


# Log files
*.log
debug/
release/


# IDE / Editor folders
.idea/
.vscode/
*.swp
*~


# Justfile local config
.justfile.local

# Secret config
.env

# Svelte

/frontend_svelte/node_modules

# Output
/frontend_svelte/.output
/frontend_svelte/.vercel
/frontend_svelte/.netlify
/frontend_svelte/.wrangler
/frontend_svelte/.svelte-kit
/frontend_svelte/build

# OS
/frontend_svelte/.DS_Store
/frontend_svelte/Thumbs.db

# Env
/frontend_svelte/.env
/frontend_svelte/.env.*
!/frontend_svelte/.env.example
!/frontend_svelte/.env.test

# Vite
/frontend_svelte/vite.config.js.timestamp-*
/frontend_svelte/vite.config.ts.timestamp-*
